<style>
    /*--ARMING Buttons, red/black*/
    .btnArm {
        background: #bdbdbd;
        background-image: -webkit-linear-gradient(top, #bdbdbd, #050505);
        background-image: -moz-linear-gradient(top, #bdbdbd, #050505);
        background-image: -ms-linear-gradient(top, #bdbdbd, #050505);
        background-image: -o-linear-gradient(top, #bdbdbd, #050505);
        background-image: linear-gradient(to bottom, #bdbdbd, #050505);
        -webkit-border-radius: 9;
        -moz-border-radius: 9;
        border-radius: 9px;
        font-family: Arial;
        color: #ffffff;
        font-size: 24px;
        padding: 10px 20px 10px 20px;
        border: solid #000000 1px;
        text-decoration: none;
    }

    .btnArm:hover {
        background: #ff0000;
        background-image: -webkit-linear-gradient(top, #ff0000, #000000);
        background-image: -moz-linear-gradient(top, #ff0000, #000000);
        background-image: -ms-linear-gradient(top, #ff0000, #000000);
        background-image: -o-linear-gradient(top, #ff0000, #000000);
        background-image: linear-gradient(to bottom, #ff0000, #000000);
        text-decoration: none;
    }

    /*--DISARMING Buttons, green/black*/
    .btnDisarm {
        background: #bdbdbd;
        background-image: -webkit-linear-gradient(top, #bdbdbd, #050505);
        background-image: -moz-linear-gradient(top, #bdbdbd, #050505);
        background-image: -ms-linear-gradient(top, #bdbdbd, #050505);
        background-image: -o-linear-gradient(top, #bdbdbd, #050505);
        background-image: linear-gradient(to bottom, #bdbdbd, #050505);
        -webkit-border-radius: 9;
        -moz-border-radius: 9;
        border-radius: 9px;
        font-family: Arial;
        color: #ffffff;
        font-size: 24px;
        padding: 10px 20px 10px 20px;
        border: solid #000000 1px;
        text-decoration: none;
    }

    .btnDisarm:hover {
        background: #00ff00;
        background-image: -webkit-linear-gradient(top, #00ff00, #000000);
        background-image: -moz-linear-gradient(top, #00ff00, #000000);
        background-image: -ms-linear-gradient(top, #00ff00, #000000);
        background-image: -o-linear-gradient(top, #00ff00, #000000);
        background-image: linear-gradient(to bottom, #00ff00, #000000);
        text-decoration: none;
    }

    /*--INFO Buttons, blue/black*/
    .btnInfo {
        background: #bdbdbd;
        background-image: -webkit-linear-gradient(top, #bdbdbd, #050505);
        background-image: -moz-linear-gradient(top, #bdbdbd, #050505);
        background-image: -ms-linear-gradient(top, #bdbdbd, #050505);
        background-image: -o-linear-gradient(top, #bdbdbd, #050505);
        background-image: linear-gradient(to bottom, #bdbdbd, #050505);
        -webkit-border-radius: 9;
        -moz-border-radius: 9;
        border-radius: 9px;
        font-family: Arial;
        color: #ffffff;
        font-size: 24px;
        padding: 10px 20px 10px 20px;
        border: solid #000000 1px;
        text-decoration: none;
    }

    .btnInfo:hover {
        background: #0000ff;
        background-image: -webkit-linear-gradient(top, #0000ff, #000000);
        background-image: -moz-linear-gradient(top, #0000ff, #000000);
        background-image: -ms-linear-gradient(top, #0000ff, #000000);
        background-image: -o-linear-gradient(top, #0000ff, #000000);
        background-image: linear-gradient(to bottom, #0000ff, #000000);
        text-decoration: none;
    }

    /*OK Cancel buttons*/
    .btnOkCancel {
        background: #d1d1d1;
        background-image: -webkit-linear-gradient(top, #d1d1d1, #050505);
        background-image: -moz-linear-gradient(top, #d1d1d1, #050505);
        background-image: -ms-linear-gradient(top, #d1d1d1, #050505);
        background-image: -o-linear-gradient(top, #d1d1d1, #050505);
        background-image: linear-gradient(to bottom, #d1d1d1, #050505);
        -webkit-border-radius: 9;
        -moz-border-radius: 9;
        border-radius: 9px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        border: solid #000000 1px;
        text-decoration: none;
    }

    .btnOkCancel:hover {
        background: #ffffff;
        background-image: -webkit-linear-gradient(top, #ffffff, #000000);
        background-image: -moz-linear-gradient(top, #ffffff, #000000);
        background-image: -ms-linear-gradient(top, #ffffff, #000000);
        background-image: -o-linear-gradient(top, #ffffff, #000000);
        background-image: linear-gradient(to bottom, #ffffff, #000000);
        text-decoration: none;
    }

    /*Test styles*/
    .blackShadowedText {
        text-shadow: 2px 2px 5px rgba(3, 3, 3, 1);
        font-weight: bold;
        color: #030303;
        letter-spacing: 5pt;
        word-spacing: 7pt;
        font-size: 30px;
        text-align: left;
        font-family: arial, helvetica, sans-serif;
        line-height: 1;
    }

    .infoText {
        font-weight: bold;
        color: #030303;
        letter-spacing: 1pt;
        word-spacing: 5pt;
        font-size: 20px;
        text-align: left;
        font-family: arial, helvetica, sans-serif;
        line-height: 1;
    }
</style>