<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="manifest" th:href="@{/manifest.json}"/>
<head>
    <title>Home System</title>
    <div th:include="decoration"></div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var delayedArmMessage = "System will be armed in " + [[${armDelaySeconds}]] + " seconds, continue?";

        //REST Buttons
        function arm(message) {
            confirm(message);
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/fireAction?action=ARM", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send();
            var response = JSON.parse(xhttp.responseText);
        }

        function delayedArm(message) {
            confirm(message);
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/fireAction?action=DELAYED_ARM", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send();
            var response = JSON.parse(xhttp.responseText);
        }

        function disarm(message) {
            confirm(message);
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/fireAction?action=DISARM", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send();
            var response = JSON.parse(xhttp.responseText);
        }

        function automatic(message) {
            confirm(message);
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/fireAction?action=AUTOMATIC", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send();
            var response = JSON.parse(xhttp.responseText);
        }

        function resendHourly(message) {
            confirm(message);
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/fireAction?action=RESEND_HOURLY", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send();
            var response = JSON.parse(xhttp.responseText);
        }

        function currentState() {
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/currentState", false);
            xhttp.send();
            var response = xhttp.responseText;
            alert(response)
        }

        function uptime() {
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/uptime", false);
            xhttp.send();
            var response = xhttp.responseText;
            alert(response)
        }

        /*]]>*/
    </script>

</head>
<body>
<div class="blackShadowedText">SECURITY CONTROLS:</div>
<div>
    <table cellspacing="5" cellpadding="10">
        <tbody>
        <tr>
            <td style="text-align: left">
                <button type="submit" onclick="return arm('ARM system immediately?')" class="button btnArm">ARM</button>
            </td>
            <td style="text-align: right">
                <button class="button btnArm" onclick="return delayedArm(delayedArmMessage)" type="submit">DELAYED ARM
                </button>
            </td>
        </tr>
        <tr>
            <td style="text-align: left">
                <button class="button btnDisarm" onclick="return disarm('DISARM system immediately?')" type="submit">
                    DISARM
                </button>
            </td>
            <td style="text-align: right">
                <button class="button btnInfo" onclick="return automatic('Turn system in AUTO mode immediately?')"
                        type="submit">AUTOMATIC
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<div class="blackShadowedText">SYSTEM STATUS:</div>
<div>
    <table cellspacing="5" cellpadding="10">
        <tbody>
        <tr>
            <td style="text-align: left"><a class="button btnInfo" href="/" onclick="return currentState()">CURRENT
                STATE</a></td>
            <td style="text-align: right"><a class="button btnInfo" href="/" onclick="return uptime()">UPTIME</a></td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<div class="blackShadowedText">REPORTING CONTROLS:</div>
<div>
    <table cellspacing="5" cellpadding="10">
        <tbody>
        <tr>
            <td style="text-align: center">
                <button class="button btnInfo" onclick="return resendHourly('Are you sure?')" type="submit">RESEND
                    HOURLY REPORT
                </button>
            </td>
        </tr>
        <tr>
            <td style="text-align: left"><a class="button btnInfo" href="/ipStates">IP STATES</a></td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<div class="blackShadowedText">SYSTEM CONTROLS:</div>
<div>
    <table cellspacing="5" cellpadding="10">
        <tbody>
        <tr>
            <td style="text-align: left"><a class="button btnInfo" href="/pair">PAIR CLIENTS</a></td>
            <td style="text-align: left"><a class="button btnInfo" href="/stats">STATS</a></td>
            <td style="text-align: right"><a class="button btnInfo" href="/cameras">CAMERAS</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <table cellspacing="5" cellpadding="10">
        <tbody>
        <tr>
            <td style="text-align: right"><a class="button btnInfo" href="/downloadClient">DOWNLOAD CLIENT</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>