<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stats</title>
    <div th:include="decoration"/>
</head>
<br>
<body>
<!--/*@thymesVar id="boardStats" type="java.util.ArrayList"*/-->
<div th:each="data : ${boardStats}">
    <table cellspacing="5" cellpadding="10" frame="box">
        <tbody>
        <tr>
            <td><span class="infoText" th:text="${data}"></span></td>
        </tr>
        </tbody>
    </table>
    <br>
</div>
<div>
    <table cellspacing="5" cellpadding="10">
        <tbody>
        <tr>
            <td style="text-align: left"><a class="button btnInfo" href="/">BACK</a></td>
            <td style="text-align: right"><a class="button btnInfo" href="/stats">REFRESH</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>